.about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 55%;
    height: 100vh;
}

.about__education {
    margin-top: 20px;
}

.educations {
    margin-top: 20px;
    border-radius: 12px;
    background-color: #F6F6F8;
}

.about__education > h1 {
    margin: 2px 0px -10px 0px;
} 

.about__technical__skill {
    margin-bottom: -10px;
    border-radius: 12px;
    background-color: #F6F6F8;
}

.about__technical__skill > p {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}

.about__technical__skill > p:hover {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}

.about__technical > h1 {
    margin-bottom: 10px;
}

.about__me {
    margin-top: 20px;
}