.social__media:hover {
    color: aqua;
    cursor: pointer;
}

.social__media {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 30px;
    align-items: center;
}