.sidebar {
    display: flex;
    flex: 0.3;
    border-radius: 12px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    height: fit-content;
    margin-top: 10px;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, .3);
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: white;
}

.sidebar__top > img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sidebar__bottom {
    justify-content: center;
    align-items: center;
}

.sidebar__bottom__intro > p {
    text-align: justify;
    font-size: 15px;
    font-family: monospace;
}

.sidebar__bottom__intro {
    text-align: justify;
    font-size: 15px;
    font-family: monospace;
}

li {
    margin-left: -10px;
    font-size: 16px;
    font-family: monospace;
}

h3 {
    font-size: 20px;
    font-family: monospace;
}