.header {
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: #E3E3E3;
    width: 100%;
    padding-top: 10px;
    border-bottom: 3px dashed black;
    height: 75px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top > h2 {
    color: black;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.header__bottom {
    display: flex;
    justify-content: space-evenly;
}

.header__options {
    display: flex;
    align-items: center;
    color: black;
    margin-top: -10px;
    
}

/* .header__mode__btn {
    width: 35%;
    align-items: end;
    margin: 0px 0px 0px auto;
} */