.header__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
    color: whitesmoke;
    cursor: pointer;
}

.header__option > h3 {
    font-size: 22px;
    font-weight: 500;
}

.header__option:hover {
    color: black;
}