.header__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
}

.header__option > h3 {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

:any-link:hover {
    background-color: black;
    color: #E3E3E3 !important;
}

:any-link:visited {
    color: black;
}

:any-link:active {
    color: black;
}

:any-link {
    text-decoration: none;
}