.project__container {
    display: grid;
    width: 60%;
    height: auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  0.6fr 1fr 1fr;
    grid-column-gap: 20px;
}

.project__title {
    width: 300px;
    grid-column-start: 1;
    font-size: 30px;
    font-weight: 800;
    align-self: center;
    margin-bottom: -5px;
}

.project__description {
    width: 500px;
    font-size: 18px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    white-space: pre-wrap;
}

.project__picture {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    height: auto;
    width: auto;
    justify-self: center;
    align-self: center;
}

.project__picture > img {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.mobile__demo__image {
    width: 200px;
    height: 100%;
}

.web__demo__image {
    width: 600px;
    height: 100%;
}

.project__access {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: top;
}

.project__access > button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    border: none;
    margin: 10px 30px 0px 0px;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border-radius: 15px;
    color: grey;
    background-color: aquamarine;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

.project__access > button:hover {
    color: grey;
    background-color: rgba(127, 255, 212, .5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, .3);
    transition: all 300ms ease-out;
}

.project__access > button > a, a:visited {
    cursor: pointer;
    color: grey;
    text-decoration: none;
}

@media (max-width: 480px) {
    .project__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    
    .project__title {
       align-self: self-start;
    }
    
    .project__description {
        width: 100%;
        font-size: 18px;
        margin: 20px 0px;
        white-space: pre-wrap;
    }
    
    .project__picture {
        height: auto;
        width: auto;
        justify-self: center;
        align-self: center;
        margin: 10px 0px;
    }
    
    .web__demo__image {
        width: 100%;
        height: 100%;
    }
    
    .project__access {
        align-self: center;
    }
}