.flame {
    width: 10em;
    height: 12em;
    font-size: 5px;
    position: relative;
}

.flame > span {
    position: absolute;
    width: 5em;
    height: 5em;
    background: radial-gradient(
        aquamarine 20%,
        rgba(255, 69, 0, 0) 70%
    );
    border-radius: 50%;
    bottom: 0;
    left: calc((var(--n) - 1) * 5em / var(--particles));
    animation: rise 1s ease-in infinite;
    animation-delay: calc(var(--rnd) * 1s);
}

@keyframes rise {
    from {
        transform: translateY(0) scale(1);
        filter: opacity(0);
    }

    25% {filter: opacity(1);}

    to {
        transform: translateY(-10em) scale(0);
        filter: opacity(0);
    }
}

@media (max-width: 480px) {
    .flame {
        display: none;
    }
}

@media (max-width: 800px) {
    .flame {
        width: 6em;
        height: 8em;
        font-size: 25px;
    }
}