.home {
    display: flex;
    width: 100%;

    background-color: white;
    align-items: center; 
    justify-content: space-between;
}

.home__right {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-right: 100px;
}

.home__description {
    padding-left: 100px;
}

.home__title__part {
    display: flex;
    align-items: center;
}

.home__social__media {
    margin-left: -1.2rem;
    padding-left: 100px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.home__title__part {
    width: 1000px;
}

.home__title__part {
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    word-wrap: break-word;
}

.home__description > p {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}


@media (max-width: 480px) {

    .home__description {
        padding-left: 20px;
    }

    .home__social__media {
        padding-left: 20px;
    }

    .home__title__part > h1 {
        font-size: 30px;
    }

    .home__description > h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .home__right {
        display: none;
    }
}