.app {
    display: flex;
    flex: 1;
    flex-direction: column;
}

html {
    background-color: #E3E3E3;
}

#keyword {
    color: #C60021;
    margin: 0;
    display: inline;
    font-weight: 600;
}

.app_body {
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    align-self: center;
    margin-left: -120px;
}

